<mat-toolbar style="display:flex;" *ngIf="isVisible">
    <button mat-button class="noBorder" [matMenuTriggerFor]="menu">Summary</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item class="noBorder"><a routerLink="/individualSummary/:id">Individual</a></button>
        <button mat-menu-item class="noBorder"><a routerLink="/groupSummary/:id">Group</a></button>
    </mat-menu>
    <button mat-button class="noBorder"><a routerLink="/expenses/:id">Expenses</a></button>
    <button mat-button class="noBorder" style="margin-left: auto;" disabled>{{user|namespaceResolve}}</button>
    <div mat-card-avatar [matMenuTriggerFor]="avatar"
        [ngStyle]="{'background-image': 'url('+imagePath+')','background-size': 'cover'}">
    </div>
    <mat-menu #avatar="matMenu">
        <button mat-menu-item class="noBorder"><a routerLink="/individualSummary/:id">Settings</a></button>
        <button mat-menu-item class="noBorder" (click)="signOut()"><a>Logout</a></button>
    </mat-menu>
</mat-toolbar>