.mat-card{
    width:350px;
    height:400px;
    text-align:center;
    position:absolute;
    margin-top:10%;
    margin-left:40%;
}
.mat-form-field{
    width:100%
}
.mat-raised-button{
    width:80%;
}
.mat-card-content{
    margin-top:15%;
}