<mat-card [formGroup]="signUpForm">
    <mat-card-title>
        Please Sign Up for Account
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <mat-form-field appearance="outline">
            <mat-label>Email or Username</mat-label>
            <input matInput formControlName="user">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Enter Password</mat-label>
            <input matInput type="password" formControlName="password">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" formControlName="rePassword">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input matInput formControlName="phone">
        </mat-form-field>

        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="onSignUp()">SignUp</button><br>
            <p class="text-center font-italic text-secondary mt-3">Already a member? <a routerLink="/login"
                    routerLinkActive="active">login</a></p>
        </mat-card-actions>
    </mat-card-content>
</mat-card>